/* 레이아웃 */
*{
  margin: 0px;
  padding: 0px;
}

header {
  font-family: 'Jua', sans-serif;
  background-color: #aa351d;
  height:  10vh;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  position: sticky;
  
}
main {
  height: 90vh;
  background-color:#fffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

main > section {
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

/*버튼*/
button {
  display: inline-block;
  width: 100%;
  margin: 1%;
  width: 50vw;
  height: 20vw;
  max-width: 200px;
  max-height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #75ba1a;
  color: black;
  font-size: 1 rem;
}

button:hover, button:active {
  background-color: rgb(224, 57, 182);
  color: white;
}

#msg {
  
}
